<html xmlns:th="http://www.thymeleaf.org">
<h1>Booking successful</h1>



<form action="bookVehicleReview" th:object="${selectedVehicles}" method="post">
<table border="1px">
    <thead>
        <tr>
            <th> Name</th>
            <th> Type </th>
            <th> Vendor </th>
            <th> Rating </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><span th:text="${selectedVehicles.name}"> Name </span></td>
            <td><span th:text="${selectedVehicles.type}"> Type </span></td>
            <td><span th:text="${selectedVehicles.vendor.id}"> Vendor_id </span></td>
            <td>
        <input type="radio" name="rating" value="0" checked /><span class="hide"></span>
        <input type="radio" name="rating" value="1" /><span></span>
        <input type="radio" name="rating" value="2" /><span></span>
        <input type="radio" name="rating" value="3" /><span></span>
        <input type="radio" name="rating" value="4" /><span></span>
        <input type="radio" name="rating" value="5" /><span></span>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
<input type="submit" value="submit your review">
</form>
</html>