<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css" >
    
    <style>
     
        .main
        {
            margin: auto;
            width: 30%;
            padding: 10px;
            font-size: 20px
        }
        .heading
        {
            margin: auto;
            width: 50%;
           
        }
        table 
        {
            width: 150%;
        }
        tr 
        {
            height: 30px;
        }

        th 
        {
            height: 70px;
        }
        
    </style>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Vehicle Rental system</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
        </ul>
       <form th:action="@{/user/logout}" method="post">
    <input type="submit" value="Logout" />
      </form>
    
    
  </div>
</nav>


<body>
    
   <center><h1>View vehicles</h1></center>  <br><br><br><br>

<div class="main">
<table border="1px">
    <thead>
        <tr>
            <th> Name</th>
            <th> Type </th>
            <th> Cost </th>
            <th>Delete</th>
            <th>Edit  </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${allVehicles.empty}">
            <td colspan="2"> No Vehicles Available </td>
        </tr>
        <tr th:each="vehicle : ${allVehicles}">
            <td><span th:text="${vehicle.name}"> Name </span></td>
            <td><span th:text="${vehicle.type}"> Type </span></td>
            <td><span th:text="${vehicle.cost}"> Cost </span></td>
            <td><a th:href="@{/delete/{id}(id=${vehicle.id})}">delete vehicle</a></td>
            <td><a th:href="@{/edit/{id}(id=${vehicle.id})}">Edit vehicle</a></td>
        </tr>
    </tbody>
</table>  

<br><br><br>    
<a href="dashboard">Add more vehicles</a>
    
    </div>
</body>
</html>